name: Sync and Update README

on:
  repository_dispatch:
    types:
      - update
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync_and_update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.GHA_SSH_PRIVATE_KEY }}
          submodules: recursive
          fetch-depth: 0

      - name: Update submodule
        run: git submodule update --remote

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Generate README
        run: python scripts/generate_readme.py

      - name: Check git status
        id: status
        run: |
          git status -s
          echo "status=$(git status -s)" >> $GITHUB_OUTPUT

      - name: Commit and Push
        run: |
          git config --local user.name "Github Actions"
          git config --local user.email "action@github.com"
          git add .
          git commit -m "chore: sync submodule and update README [skip ci]"
          git push origin main
        if: ${{ steps.status.outputs.status != '' }}